doctype html
head
  meta(charset='utf-8')
  title Контакты
  meta(name='description' content='')
  meta(name='keywords' content='')
  link(rel='stylesheet' type='text/css' href='style.css' media='all')
.wrapper
  .header
    .headerContent
      .left
        h1
          a(href='#') Лучшая с/х техника!
      .right
        form.search
          input(type='text' placeholder='Поиск...')
          input(type='image' src='search.png' title='Search')
  .slider
    .itemSlider
      .bgSlide
        img(src='bg-slide.jpg')
      .descSlide
        span Диллеры
        p
          | John Deere, Pottinger, Case, Claas, New Holland, Amazone, Massey Ferguson, Gaspardo &icy; &tcy;. &dcy;.
  .nav
    ul.menu
      ul.menu
        li
          a(href='/') О нас
        li
          a(href='/contact') Контакты
  .breadcrumbs
    a(href='#') О нас
    |  /
    a(href='#') Другая страница
    |  / что-то еще
  .main
    .leftCol
      form
        h2 Обратная связь
        input(type='text' placeholder='Ваше имя ')
        input(type='text' placeholder='Ваш эл. адрес')
        input(type='text' placeholder='Выбор позиции')
        input(type='text' placeholder='Номер телефона ')
        .row
          h4 Зап. части
          input(type='radio')
          label Импортная техника
          .clear
          input(type='radio')
          label Отечественная техника
          .clear
          input(type='radio')
          label Б/у зап. части
          .clear
        .row
          h4 Услуги
          input(type='checkbox')
          label Услуги техники
          .clear
          input(type='checkbox')
          label Услуги авиации
          .clear
        button.minWidth(type='submit')  Отправить
      .row
        h2 Реклама:
        p  Здесь может быть ваша реклама (056 123 45 67).
        p
          a(href='#') прямая ссылка
    .span2
      h4  Контактная информация
      ol
        li Отдет продаж импортной техники: 056 123 45 67
        li Отдет продаж отечественной техники: 056 123 45 67
        li Отдет продаж запасных частей к импортной технике: 056 123 45 67
        li Отдет продаж запасных частей к отечественной технике: 056 123 45 67
        li Отдел логистики: 056 123 45 67
        li Гарячая линия: 3777 (Бесплатно с мобильных)
    .span1
      address
        div
          iframe(src='https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d169375.8754969272!2d34.980448!3d48.44697270000001!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x40dbe303fd08468f%3A0xa1cf3d5f2c11aba!2z0JTQvdC40L_RgNC-LCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!3m2!1d48.464717!2d35.046183!4m0!5e0!3m2!1sru!2sua!4v1515510714195' width='600' height='450' frameborder='0' style='border:0' allowfullscreen='')   
  .footer
    .footerContent
      .span1
        h1  в соц. сетях:
        .borderBottom
        ul.clock
          li Круглосуточная обратная связь.
          li Быстрая обработка заявок.
          li Лушие условия!
        .social
          div Мы в социальных сетях:
          ul
            li
              a(target='newtab' href='http://www.facebook.com/?sk=app_2309869772')
                img(src='facebook.png')
            li
              a(target='newtab' href='https://twitter.com/psdhtmlcss')
                img(src='twitter.png')
            li
              img(src='vk.png')
      .span1
        h1 Телефоны:
        .borderBottom
        ul
          li Главный офис (056) 221-1107
          li Киев (044) 202-5428
          li Полтава (052) 296-2664
          li Карпаты (033) 221-1107
          li Одесса (025) 202-5428
      .span1
        h1 Адрес:
        .borderBottom
        ul.unstyled
          li 56000 Украина,
          li Днепропетровская обл.
          li г.Днепр,
          li просп. Слобожанский 213.
          li
            a(href='Tehnika@gmail.com') technica@gmail.com
